* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: #333;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	flex: 1;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.header {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 7.5px;
	margin-bottom: 60px;
	background-color: #333;
	color: #FFF;
}
.header h1 {
	letter-spacing: 5px;
}
.header p {
	opacity: 0.5;
}
.controls {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.controls label {
	font-size: 11px;
	display: block;
	margin-bottom: 5px;
	text-align: center;
	opacity: 0.75;
}

.selecter {
	display: block;
	width: 100%;
	padding: 15px 15px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.selecter option {
	padding: 0 15px;
}
.bonus {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
	margin-bottom: 80px;
	overflow: hidden;
}
.bonus .col {
	float: left;
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
}
.bonus input {
	display: block;
	width: 100%;
	padding: 10px 10px;
	border-radius: 3px;
	border: 1px solid #CCC; 
	background-color: #EEE;
	text-align: center;
}

.results {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #CCC; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
}

.results h2 {
	font-size: 56px;
	border-bottom: 1px solid #CCC;
	display: inline-block;
	line-height: 56px;
	margin-bottom: 7.5px;
	padding-bottom: 7.5px;
}

.levels {
	text-align: center;
	margin-top: 80px;
}
.levels input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.footer {
	background-color: #333;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 60px;
}
.footer p {
	opacity: 0.5;
}