* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	color: #333;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	flex: 1;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.header {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 7.5px;
	margin-bottom: 60px;
	background-color: #333;
	color: #FFF;
}
.header h1 {
	letter-spacing: 5px;
}
.header p {
	opacity: 0.5;
}
.controls {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.controls label {
	font-size: 11px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	opacity: 0.75;
}

.selecter {
	display: block;
	width: 100%;
	padding: 15px 15px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.selecter option {
	padding: 0 15px;
}
.bonus {
	margin-top: 30px;
	margin-bottom: 80px;
}
.bonus p {
	text-align: center;
	margin-bottom: 10px;
}
.bonus .row{
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}
.bonus .col {
	float: left;
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
}
.bonus .nav {
	display: block;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #DDD; 
	background-color: #EFEFEF;
	text-align: center;
	overflow: hidden;
	line-height: 44px;
}
.bonus .nav button {
	width: 22px;
	height: 44px;
	display: block;
	border: none; 
	cursor: pointer;
}
.bonus .nav .left {
	float: left;
}
.bonus .nav .right {
	float: right;
}

.results {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #CCC; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
}

.results h2 {
	font-size: 56px;
	border-bottom: 1px solid #CCC;
	display: inline-block;
	line-height: 56px;
	margin-bottom: 7.5px;
	padding-bottom: 7.5px;
}

.levels {
	text-align: center;
	margin-top: 80px;
}
.levels .nav {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 36px;
	padding-right: 36px;
	position: relative;
	height: 32px;
}
.levels .nav .left {
	left: 0;
}
.levels .nav .right {
	right: 0;
}
.levels button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	border-radius: 50%;
	background-color: #EFEFEF;
	border: 1px solid #DDD;
	cursor: pointer;
}
.levels input {
	display: block;
	width: 100%;
	height: 32px;
}

.required {
	font-size: 11px;
	opacity: 0.75;
}

.footer {
	background-color: #333;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 60px;
}
.footer p {
	opacity: 0.5;
}
